// colors
$color-primary: #355990;
$color-secondary: #ff8e1d;

// fonts
$font-primary: 'Roboto', sans-serif;

// font colors
$font-color-primary: #6d6d6d;
$font-color-secondary: #355990;

// input colors
$input-border-color: #d8d8da;
$input-error-color: #ffb2b2;
$input-required-color: #ffb2b2;

// alert success
$alert-success-bg-color: #f0fcf3;
$alert-success-headline-color: #70bf75;
$alert-success-paragraph-color: #676767;

// box shadows
$box-shadow-primary: 0 1px 5px rgba(0, 0, 0, 0.12);
