.btn {
    display: inline-block;
    padding: 20px 29px;
    background-color: $color-secondary;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    border-radius: 2px;
    transition: .1s all ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: rgba($color-secondary, 0.9);
    }

    &--disabled {
        background-color: rgba($color-secondary, 0.5);

        &:hover {
            background-color: rgba($color-secondary, 0.5);
        }
    }
}
