.form-panel {
    background: white;
    text-align: left;
    padding: 25px 40px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

	&__head {
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #d8d8da;
	}

	&__title {
        color: $font-color-secondary;
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
	}

	&__body {
        padding-top: 6px;
	}

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 19px;

        .form-label {
            align-self: flex-start;
        }
    }
}
