.form-label {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba($font-color-secondary, 0.7);
    max-width: 120px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 9px 15px 0 0;

    &__required-sign {
        color: $input-required-color;
        padding-left: 5px;
    }
}
