// assets
@import "assets/_normalize";
@import "assets/_variables";
@import "assets/_mixins";
@import "assets/_fonts";
@import "assets/_animations";

// components
@import "components/_app-header";
@import "components/_app-container";
@import "components/_form";
@import "components/_form-panel";
@import "components/_btn";
@import "components/_form-label";
@import "components/_form-field";
@import "components/_radio";

// general styles
* {
    box-sizing: border-box;
}

body, html {
    font-family: $font-primary;
    background-color: #f7f7f7;
}
